# Hello This notebook will be used for capstone project

In [1]:
import pandas as pd
import numpy as np
import requests
import lxml.html as lh

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [4]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(source.text, 'lxml')
data = []
columns = []
table = soup.find(class_='wikitable')
for index, tr in enumerate(table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip())
    
    if (index == 0):
        columns = section
    else:
        data.append(section)

df = pd.DataFrame(data = data,columns = columns)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [6]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(103)

    Postcode       Borough                         Neighbourhood
0        M1A  Not assigned                          Not assigned
1        M1B   Scarborough                         Rouge,Malvern
2        M1C   Scarborough  Highland Creek,Rouge Hill,Port Union
3        M1E   Scarborough       Guildwood,Morningside,West Hill
4        M1G   Scarborough                                Woburn
..       ...           ...                                   ...
98       M5Y  Not assigned                          Not assigned
99       M5Z  Not assigned                          Not assigned
100      M6A    North York       Lawrence Heights,Lawrence Manor
101      M6B    North York                             Glencairn
102      M6C          York                    Humewood-Cedarvale

[103 rows x 3 columns]

In [7]:
df =df[df['Borough'] != 'Not assigned']

In [8]:
df.shape

(103, 3)

In [9]:
df.to_csv(r'df_can.csv')