# Hello This notebook will be used for capstone project

In [1]:
import pandas as pd
import numpy as np
import requests
import lxml.html as lh

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [4]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(source.text, 'lxml')
data = []
columns = []
table = soup.find(class_='wikitable')
for index, tr in enumerate(table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip())
    
    if (index == 0):
        columns = section
    else:
        data.append(section)

df = pd.DataFrame(data = data,columns = columns)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [6]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head()

  Postcode       Borough                         Neighbourhood
0      M1A  Not assigned                          Not assigned
1      M1B   Scarborough                         Rouge,Malvern
2      M1C   Scarborough  Highland Creek,Rouge Hill,Port Union
3      M1E   Scarborough       Guildwood,Morningside,West Hill
4      M1G   Scarborough                                Woburn

In [7]:
df =df[df['Borough'] != 'Not assigned']
df.tail()

    Postcode    Borough                                      Neighbourhood
170      M9N       York                                             Weston
171      M9P  Etobicoke                                          Westmount
172      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
175      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
176      M9W  Etobicoke                                          Northwest

In [8]:
df.shape

(103, 3)

In [9]:
left=df

In [10]:
right = pd.read_csv("Geospatial_Coordinates.csv")
right.tail()

    Postal Code   Latitude  Longitude
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

In [11]:
df1=df.merge(right, left_on="Postcode", right_on="Postal Code")
del df1['Postal Code']
df1.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476